*{
  margin: 0;
  padding: 0;
}
body{
  height: 100vh;
  background-image: linear-gradient(to right,#040620,#20A4F3,#040620);
  /* background-color: rgb(0, 0, 0); */
  /* background-image: url(WhatsApp\ Image\ 2024-03-24\ at\ 17.59.02_e3d027c9.jpg); */

  font-family: "Lato", sans-serif;
  color: white;
}

/* header  */
.header{
  height: 10vh;
  width: 99vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid rgb(227, 221, 221);
  border-radius: 0.7rem;
  margin: 0.5rem;
}
.header h1{
  position: relative;
  left: 2rem;
  font-size: 2rem;
  font-weight: bold;
  color: rgb(117, 164, 164);
}
.header i{
  font-size: 1.35rem;
  cursor: pointer;
}
#searchinput{
  height: 5vh;
  width: 35vw;
  border: none;
  border-radius: .25rem;
  font-size: 18px;
  margin: 0 0.4rem;
}
#searchbtn{
  height: 3.5vh;
  width: 3.7vw ;
  border-radius: .25rem;
  font-size: 16px;
  cursor: pointer;
  
}
.profile{
  position: relative;
  right: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
}
.profilepic{
width: 2.1rem;
height: 2.1rem;
cursor: pointer;
}
.loginbtn{
  height: 1.8rem;
  width: 4.5rem;
  cursor: pointer;
  font-size: 16px;
  background-color: #f9f9f9;
  border-radius: 0.2rem;
  color: black;
}
.loginbtn:hover{
  transform: scale(1.1);
}
.main-box{
  display: flex;
}
/* aside  */

aside{
  /* border: 2px solid rgb(185, 180, 180); */
  width: 14vw;
  height: 86vh;
  margin: 1rem;
  margin-top: 0.2rem;
  /* background-image:linear-gradient(#e0b7f4,#78A8F5) ; */
}
.logo-div{
  height: 15vh;
  width: 100%;
  margin-bottom:1rem;
}
.aside-content{
  width: 100%;
  height: 50vh;
}
.aside-content p {
  margin: 1.5rem;
  margin-bottom: 2rem;
  font-size: 1.2rem;
  cursor: pointer;
}
.aside-content i {
/* margin-right: 0.5rem; */
position: relative;
right: 0.5rem;
}
aside #one{
  position: relative;
  right: 0.1rem;

}
aside #two{
  position: relative;
  left: 0.2rem;
}
aside #two i{
  position: relative;
  right: 0.7rem;
}


/* container  */

.container{
  width: 82vw;
  height: 86vh;
  /* border: 1px solid black; */
  margin: 1rem;
  margin-top: 0.2rem;
  margin-left: 0;
  background-color: transparent;
  /* background-image: url(WhatsApp\ Image\ 2024-03-24\ at\ 17.59.02_e3d027c9.jpg); */
  /* background-image: linear-gradient(rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05)), url('WhatsApp Image 2024-03-24 at 17.59.02_e3d027c9.jpg');
  background-size: top left; */
  /* background-image:linear-gradient(#e0b7f4,#78A8F5) ; */
}
.container-box{
  display: flex;
  justify-content: space-evenly;
 
}
.dashboard-boxes{
  position: relative;
  bottom: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  /* margin-left: 1rem; */
  justify-content: center;
}
.dashboard-box{
  width: 16rem;
  height: 10rem;
  border: 2px solid black;
  border-radius: 10px;
  cursor: pointer;
  color: black;
  background-color: white;
}
.dashboard-box h3{
 text-align: center;
 font-weight: 600;
 font-size: 1.3rem;
 color: rgb(117, 164, 164);
}
.dashboard-box ul{
  position: relative;
  top: 0.6rem;
}
.dashboard-box ul li{
list-style: square;
position: relative;
left: 2rem;
font-size: 1.1rem;
}
.circle{
  position: relative;
  left:10.5rem;
  bottom: 2.8rem;
}
/* .dashboard-box1{
  position: relative;
  bottom: 2rem;
} */
.chart-content{
  margin: 0.8rem;
  height: 100%;
  border: 2px solid black;
  background-color: white;
  border-radius: 0.7rem;
}

.mylearningbox{
  /* margin: 1rem 0; */
  display: flex;
}
.mylearningbox i{
  margin-right: 0.4rem;
}
.round-bar{
  border: 2px solid black;
  height: 27vh;
  width: 10vw;
}
.hide{
  display:none;
}

/* middle box  */


.resumecontainer{
  border: 2px solid black;
  height: 80vh;
  width: 30vw;
}
.resume {
  display: flex;
  gap: 2rem;
  justify-content: space-around;
  align-items: center;
  width: 30vw;
}
.resume img{
  height: 4rem;
  width: 5rem;
}
.resumebtn{
  height: 3.5vh;
  width: 3.7vw ;
  border-radius: .25rem;
  font-size: 16px;
  cursor: pointer;
}
.resume i{
  font-size: 1rem;
}
.progresscontainer {
  width: 20vw;
  height: 2.5vh;
  background-color: #f0f0f0;
  border-radius: 4px;
  overflow: hidden;
}

.progressbar {
  width: 92%;
  height: 100%;
  background-color: #4caf50;
  border-radius: 5px;
  transition: width 0.3s ease-in-out;
}
.courses{
  margin-top: 4rem;
  display: flex;
  justify-content: space-evenly;
  /* border: 2px solid black; */
  height: 30vh;
  width: 30vw;
}

/* .round-progress-bar{
  position:relative;
  height:5rem;
  width: 5rem;
  border-radius: 50%;
  background: conic-gradient(#7d2ae8);
} */

/* calender */

.calender {
  color: black;
  /* height: 10rem; */
  border: 1px solid #ccc;
  border-radius: 0.7rem;
  overflow: hidden;
  /* color: black; */
  /* height: 5rem; */
}
.con2 {
  margin-bottom: 1rem;
  /* Add space between divs within sections */
  padding: -0.5rem;
  /* Add padding to divs within sections */
  border-radius: 8px;
}
.month {
        background-color: #f9f9f9;
        padding: 5px;
        text-align: center;
    }
    .days {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        gap: 1px;
    }
    .day {
        padding: 1.5px;
        background-color: #fff;
        border: 1px solid #ccc;
        text-align: center;
    }
.weeklyprogress{
  margin-top: 1rem;
}
    .bar-chart{
      /* position: relative; */
      background-color: white;
      border: 2px solid black;
      border-radius: 0.7rem;
      /* background-color: rgba(34, 32, 32, 0.237);     */
      /* bottom: 2rem; */
    }